.navbar-default {

}

.navbar-brand {
  /*background-color: #F8F8FF*/
}

.navbar-right a {
  /*background-color: #F8F8FF*/
}

.btn-primary {
  background-color: #68228B
}

body {
  background-image: url("http://www.eplate.com/EPC%20Capabilities%202015a_files/image286.jpg");
}

.image-rounded {
  background-color: #515151
}
