<header>  
  <div class="jumbotron">
    <div class='container'>
      <div class='row text-center'>
        <h1>Welcome to Robot World</h1>
        <h2>Robot Superstore and Emporium</h2>
        <h3>Browse our Robodex for capable Bots and Droids!</h3>
      </div>
    </div>
  </div>
</header>
