<div class="jumbotron">
      <div class='container'>
        <div class='row text-center'>
        <h1>Welcome to Robot World</h1>
        <!-- <h2>1. Store all the things.</h2>
        <h2>2. See the index of things.</h2>
        <h2>3. Do the thing.</h2> -->
      </div>
      </div>
</div>
