<div class="jumbotron">
  <div class="container">
    <form action="/robots" class="form-horizontal" method="post">
      <p class="text-center">Enter a new robot:</p>
      <p>Name:</p>
      <input type='text' class="form-control" name='robot[name]' placeholder="name"/><br/>
      <p>City:</p>
      <input type='text' class="form-control" name='robot[city]' placeholder="city"/><br/>
      <p>State:</p>
      <input type='text' class="form-control" name='robot[state]' placeholder="state"/><br/>
      <p>Avatar:</p>
      <input type='text' class="form-control" name='robot[avatar]' placeholder="avatar"/><br/>
      <p>Birthdate (yyyy-mm-dd):</p>
      <input type='text' class="form-control" name='robot[birthdate]' placeholder="birthdate"/><br/>
      <p>Date Hired:</p>
      <input type='text' class="form-control" name='robot[date_hired]' placeholder="date_hired"/><br/>
      <p>Department:</p>
      <input type='text' class="form-control" name='robot[department]' placeholder="department"/><br/>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
</div>
